

  <!DOCTYPE html>
  <html>
    {{template "header"}}
    <body>
      {{template "page_header" .base}}
      <div class="input">
        <p>{{.err}}</p>
        {{range .logs}}
        <div>
          <a href="http://localhost:3000/app/view/{{.ID}}">{{.Logname}}</a>
        </div>
        {{end}}
        <form action="" method="post">
          <p>新ログ名 :<input type="text" name="logname" placeholder=""/></p>
          <p>データ型1 :<input type="text" name="type_0" placeholder=""/></p>
          <p>変数名1 :<input type="text" name="variable_0" placeholder=""/></p>
          <p>データ型2 :<input type="text" name="type_1" placeholder=""/></p>
          <p>変数名2 :<input type="text" name="variable_1" placeholder=""/></p>
          <p><input type="submit" value="登録" /></p>
        </form>
      </div>
    </body>
  
  </html>